.nav {
  height: auto !important; /* competing with BP4 here, hence important */
  padding: var(--pad) !important;
}

.nav-files {
  background-color: bisque;
  border-radius: var(--pad);
  padding: var(--pad);
}

.nav-files > :not(:first-child) {
  margin-left: calc(var(--pad) * 2);
}

.nav-highlight {
  height: 100%;
  width: 100%;
  border-radius: var(--pad);
  background-color: rgba(143, 153, 168, 0.3);
}
