.remote {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remote-links {
  margin-top: calc(var(--pad) * 4);
  display: flex;
  flex-direction: column;
}

.remote-links button {
  margin-bottom: var(--pad);
  align-self: center;
}
