.resource-link-next {
  cursor: pointer;
}

.resource-link-next:not(.resource-link-vertical):not(.resource-link-naked):hover {
  text-decoration: underline;
}

.resource-link-emoji {
  margin-right: 3px;
}

.resource-link-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--pad);
}

.resource-link-vertical .resource-link-emoji {
  font-size: 2em;
  margin-bottom: calc(var(--pad) * -1);
  text-decoration: none !important;
}

.resource-link-vertical:not(.resource-link-naked):hover .resource-link-short {
  text-decoration: underline;
}

.resource-link-active {
  background-color: rgba(143, 153, 168, 0.3);
  border-radius: var(--pad);
}
