.shell {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #777;
  padding-bottom: 8px;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* So zoomed content doesn't overlap control panel */
}

.content > * {
  transform: scale(var(--zoom), var(--zoom));
}
