/*
This file was seeded by Sage, but will NOT be overwritten on subsequent site generatings.
So feel free to add your own global styles here!
*/

body {
  margin: 0;
  --pad: 6px;
}

.bp4-menu {
  max-height: 80vh;
  overflow: auto;
}

.bp4-popover-wrapper,
.bp4-popover-target {
  width: 100%;
  display: block;
}
