/*
This file was seeded by Sage, but will NOT be overwritten on subsequent site generatings.
So feel free to add your own global styles here!
*/

body {
  margin: 0;
  --pad: 6px;
}

.bp4-slider {
  width: unset !important;
}

.bp4-menu {
  max-height: 80vh;
  overflow: auto;
}

.bp4-popover-wrapper,
.bp4-popover-target {
  display: block;
}

.sage-component-image {
  max-height: 30vh;
  margin-bottom: calc(var(--pad) * 4);
}

img.qdaylogo_svg {
  filter: drop-shadow(grey 0px 0px 5px);
}
