/*
This file was seeded by Sage, but will NOT be overwritten on subsequent site generatings.
So feel free to add your own global styles here!
*/

body {
  margin: 0;
  --pad: 6px;
}

button {
  border-radius: calc(var(--pad) / 2);
  border: 1px solid #555;
  background-color: #eee;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

button.pressed {
  background-color: cornflowerblue;
  color: white;
}
